<td><%= id %></td>
<td><%= name %></td>
<td><%= description %></td>
<td><%= created_at %></td>
<td>
  <% if(cancan){ %>
  	<a href = "#task_lists/<%= id %>" class = "btn btn-mini btn-success" >Open</a>
    <a href = "#view/<%= id %>" class = "btn btn-mini btn-info" >View</a>
    <a href = "#edit/<%= id %>" class = "btn btn-mini" >Edit</a>
    <a href = "#destroy/<%= id %>" class = "btn btn-mini btn-danger" >Destroy</a>
  <% } %>
</td>